<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View EJS</title>
</head>

<body>
  <h1>Renderizando view</h1>
  <p>Utilizando Controller, View e Route para renderizar um arquivo HTML</p>
</body>

</html>